<div class="body">
    <div class="container">
        <div class="row">
            <div class="col-sm-0 col-md-2 col-lg-4"></div>
            <div class="col-sm-12 col-md-8 col-lg-4 form-body">

                <form>
                    <h4 class="text-center mt-4 mb-4 green-text">Enter Your Details</h4>

                    <label for="fname" class="green-text">First Name:</label>
                    <input type="text" name="fname" id="fname" class="form-control mb-3 green-border">

                    <label for="email" class="green-text">Email:</label>
                    <input type="email" name="email" id="email" class="form-control mb-3 green-border">

                    <label for="num" class="green-text">Phone Number:</label>
                    <input type="text" name="num" id="num" class="form-control mb-3 green-border">

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-success mt-3 mb-4 m-2" routerLink="display">Submit</button>
                        <button type="button" class="btn btn-outline-success mt-3 mb-4 m-2">Reset</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-0 col-md-2 col-lg-4"></div>
        </div>
    </div>
    
</div>

