.body{
    background-image: url("back1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.green-text{
    color: green;
}

.green-border{
    border: 1px solid green;
}

.form-body{
    background-color: rgba(255, 255, 255, 0.822);
    border: 3px solid rgb(64, 206, 135);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

