.body{
    background-image: url("back3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.table-bg{
    background-color: rgb(255, 255, 255);
}

.b-text{
    border-radius: 5px;
}

.footer{
    width:100vw;
    background-color: white;
    position: relative;
    bottom: 0;
    font-weight: bold;
}

.back-btn:hover{
    background: transparent;
    color: white;
}