<div class="body">
    <h2 class="text-white text-center">Hello World</h2>
    <div class="container mt-4">
        <div class="row">
            <div class="col-sm-0 col-md-2 col-lg-2"></div>
            <div class="col-sm-12 col-md-8 col-lg-8 table-bg">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Login</th>
                            <th scope="col">Node ID</th>
                            <th scope="col">Type</th>
                            <th scope="col">Site Admin</th>
                            <th scope="col">Avatar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of userData">
                            <th scope="col">{{row.id}}</th>
                            <td>{{row.login}}</td>
                            <td>{{row.node_id}}</td>
                            <td>{{row.type}}</td>
                            <td>{{row.site_admin}}</td>
                            <td><img src="{{row.avatar_url}}" style="width:40px; height: 40px;"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-0 col-md-2 col-lg-2"></div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-sm-0 col-md-3 col-lg-4"></div>
            <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" routerLink="/display" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" routerLink="/display">1</a></li>
                        <li class="page-item"><a class="page-link" routerLink="/display-two">2</a></li>
                        <li class="page-item"><a class="page-link" routerLink="/display-three">3</a></li>
                        <li class="page-item">
                            <a class="page-link" routerLink="/display-three" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-0 col-md-3 col-lg-4"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <button type="button" class="btn btn-light mt-4 back-btn" routerLink="">Go Back</button>
            </div>
        </div>
    </div>

    <div class="footer mt-5">
        <h6 class="text-center">--- Created by Shobhit ---</h6>
    </div>
</div>
